<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>io.kamaal.StoreKitPlay.consumable.fuel</key>
	<string>⛽️</string>
	<key>io.kamaal.StoreKitPlay.nonconsumable.car</key>
	<string>🚗</string>
</dict>
</plist>
